<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimea.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_core2"
        android:label="@string/app_name"
        android:name=".ChatApplication"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_core2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Login"
            android:configChanges="screenSize|orientation"
            >

        </activity>
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/Loading"
            android:configChanges="screenSize|orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Login"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <activity
            android:name=".ChatRoomActivity"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <activity
            android:name=".ProfileSetActivity"
            android:theme="@style/Login"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <service android:name=".SocketService"></service>

        <activity
            android:name=".AddFriendActivity"
            android:theme="@style/Login"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <activity
            android:name=".ChatMainActivity"
            android:theme="@style/Login"
            android:configChanges="screenSize|orientation"
            >
        </activity>
        <activity
            android:name=".ViewPagerActivity"
            android:configChanges="screenSize|orientation"
            >
        </activity>

    </application>

</manifest>